.vscode/**
.vscode-test/**
.github/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.snk
**/*.sln
**/*.props
**/*.targets
**/*.config
**/*.ps1
*.dll
!dist/*.dll

