<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet8" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8/nuget/v3/index.json" />
    <add key="dotnet-libraries" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-libraries/nuget/v3/index.json" />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <add key="vssdk" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk/nuget/v3/index.json" />
    <add key="vssdk-archived" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk-archived/nuget/v3/index.json" />
    <add key="vs-impl" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-impl/nuget/v3/index.json" />
    <add key="vs-impl-archived" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-impl-archived/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget">
      <package pattern="*" />
      <package pattern="Microsoft.CodeAnalysis.Analyzers" />
      <package pattern="Microsoft.CodeAnalysis.AnalyzerUtilities" />
      <package pattern="Microsoft.CodeAnalysis.Elfie" />
      <package pattern="Microsoft.CodeAnalysis.PublicApiAnalyzers" />
    </packageSource>
    <packageSource key="dotnet8">
      <package pattern="Microsoft.CodeAnalysis.BannedApiAnalyzers" />
    </packageSource>
    <packageSource key="dotnet-libraries">
      <package pattern="System.CommandLine" />
    </packageSource>
    <packageSource key="dotnet-tools">
      <package pattern="Microsoft.AspNetCore.Razor.ExternalAccess.RoslynWorkspace" />
      <package pattern="Microsoft.CodeAnalysis.*" />
      <package pattern="Microsoft.CommonLanguageServerProtocol.*" />
      <package pattern="NuGet.Frameworks" />
    </packageSource>
    <packageSource key="vs-impl">
      <package pattern="Microsoft.CodeAnalysis.*" />
      <package pattern="Microsoft.CommonLanguageServerProtocol.*" />
      <package pattern="Microsoft.VisualStudio.*" />
      <package pattern="Microsoft.ServiceHub.Client" />
    </packageSource>
    <packageSource key="vs-impl-archived">
      <package pattern="Microsoft.CodeAnalysis.*" />
      <package pattern="Microsoft.CommonLanguageServerProtocol.*" />
      <package pattern="Microsoft.VisualStudio.*" />
      <package pattern="Microsoft.ServiceHub.Client" />
      <package pattern="Microsoft.ServiceHub.Resources" />
    </packageSource>
    <packageSource key="vssdk">
      <package pattern="StreamJsonRpc" />
      <package pattern="Microsoft.VisualStudio.*" />
      <package pattern="Microsoft.VisualStudio.LanguageServer.Protocol.Extensions" />
      <package pattern="Microsoft.ServiceHub.Client" />
      <package pattern="Microsoft.ServiceHub.Resources" />
    </packageSource>
    <packageSource key="vssdk-archived">
      <package pattern="StreamJsonRpc" />
      <package pattern="Microsoft.VisualStudio.*" />
      <package pattern="Microsoft.VisualStudio.LanguageServer.Protocol.Extensions" />
      <package pattern="Microsoft.ServiceHub.Client" />
      <package pattern="Microsoft.ServiceHub.Resources" />
    </packageSource>
  </packageSourceMapping>
</configuration>
